<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.barnyardlearn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarnyardLearn">
        <activity
            android:name=".SubmitActivity"
            android:exported="false" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity
            android:name=".SheepActivity"
            android:exported="false" />
        <activity
            android:name=".GoatActivity"
            android:exported="false" />
        <activity
            android:name=".HorseActivity"
            android:exported="false" />
        <activity
            android:name=".ChickenActivity"
            android:exported="false" />
        <activity
            android:name=".PigActivity"
            android:exported="false" />
        <activity
            android:name=".CowActivity"
            android:exported="false" />
        <activity
            android:name=".LearnActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>